<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/bricklink/src/org/kleini/bricklink/CSVExport.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.kleini.bricklink.CSVExport"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="bricklink"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DconfigurationFile=${workspace_loc:/bricklink/bricklink.properties}"/>
</launchConfiguration>
